.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.App-header {
  background-color: #FE4869;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.controls-row {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 400px;
  border: '2px solid white';
}

.green {
  background-color: #40C355 !important;
}

.isPlaying {
  background-color: #22AC38 !important;
}

.control-button { 
  width: 600px;
  height: 100px;
}

.control-button button {
  width: 100px;
  height: 100px;
  color: white;
  border: none;
  font-size: 24px;
  border-radius: 50px;
}

.control-button svg {
  display: block;
  margin: auto;
}

.timer-container {
  width: 70%;
  height: 308px;
  border-radius: 50px;
  background-color: #EB1649;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#timer-label {
  font-size: 150px;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
}